Repository konflux-ci/build-definitions, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/build-maintainers, @rnc, @brunoapimentel, @eskultety, @taylormadore, @ralphbean, @konflux-ci/ec, @avi-biton, @gbenhaim, @yftacherzog, @konflux-ci/integration-service-maintainers, @konflux-ci/operator-foundry, @kdudka, @sfowl, @acornett21, @bcrochet, @komish, @skattoju, @amisstea, @omeramsc, @konflux-ci/eaas-maintainers, @ascerra, @flacatus, @psturc, @Dannyb48, @arewm, @brianwcook, @scoheb, @cgwalters, @gurnben, @jbpratt, @ligangty, @yma96, @cmoulliard, @Zokormazo

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/build-maintainers

# renovate groupName=build
/task/acs-deploy-check                      @konflux-ci/build-maintainers
/task/acs-image-check                       @konflux-ci/build-maintainers
/task/acs-image-scan                        @konflux-ci/build-maintainers
/task/apply-tags                            @konflux-ci/build-maintainers
/task/build-image-index                     @konflux-ci/build-maintainers
/task/build-image-manifest                  @konflux-ci/build-maintainers
/task/buildah                               @konflux-ci/build-maintainers
/task/buildah-min                           @konflux-ci/build-maintainers
/task/buildah-oci-ta                        @konflux-ci/build-maintainers
/task/buildah-remote                        @konflux-ci/build-maintainers
/task/buildah-remote-oci-ta                 @konflux-ci/build-maintainers
/task/buildah-rhtap                         @konflux-ci/build-maintainers
/task/download-sbom-from-url-in-attestation @konflux-ci/build-maintainers
/task/gather-deploy-images                  @konflux-ci/build-maintainers
/task/git-clone                             @konflux-ci/build-maintainers
/task/git-clone-oci-ta                      @konflux-ci/build-maintainers
/task/init                                  @konflux-ci/build-maintainers
/task/pnc-prebuild-git-clone-oci-ta         @konflux-ci/build-maintainers @rnc
/task/push-dockerfile                       @konflux-ci/build-maintainers
/task/push-dockerfile-oci-ta                @konflux-ci/build-maintainers
/task/show-sbom                             @konflux-ci/build-maintainers
/task/show-sbom-rhdh                        @konflux-ci/build-maintainers
/task/slack-webhook-notification            @konflux-ci/build-maintainers
/task/source-build                          @konflux-ci/build-maintainers
/task/source-build-oci-ta                   @konflux-ci/build-maintainers
/task/summary                               @konflux-ci/build-maintainers
/task/update-deployment                     @konflux-ci/build-maintainers
/task/update-infra-deployments              @konflux-ci/build-maintainers
/task/upload-sbom-to-trustification         @konflux-ci/build-maintainers

# renovate groupName=build-prefetch
/task/prefetch-dependencies         @konflux-ci/build-maintainers @brunoapimentel @eskultety @taylormadore
/task/prefetch-dependencies-oci-ta  @konflux-ci/build-maintainers @brunoapimentel @eskultety @taylormadore

# renovate groupName=build
/task/generate-labels   @konflux-ci/build-maintainers @ralphbean

# renovate groupName=ec
/task/tkn-bundle                    @konflux-ci/ec @avi-biton @gbenhaim @yftacherzog
/task/tkn-bundle-oci-ta             @konflux-ci/ec @avi-biton @gbenhaim @yftacherzog
/task/verify-enterprise-contract    @konflux-ci/ec
/pipelines/enterprise-contract.yaml @konflux-ci/ec
/.tekton/tasks/ec-checks.yaml       @konflux-ci/ec

# renovate groupName=integration
/task/clair-scan                                @konflux-ci/integration-service-maintainers
/task/clamav-scan                               @konflux-ci/integration-service-maintainers
/task/deprecated-image-check                    @konflux-ci/integration-service-maintainers
/task/fbc-fips-check                            @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-fips-check-oci-ta                     @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-related-image-check                   @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-target-index-pruning-check            @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-validation                            @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/inspect-image                             @konflux-ci/integration-service-maintainers
/task/sbom-json-check                           @konflux-ci/integration-service-maintainers
/task/validate-fbc                              @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fips-operator-bundle-check                @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fips-operator-bundle-check-oci-ta         @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/stepactions/fips-operator-check-step-action    @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @kdudka @sfowl
/task/coverity-availability-check-oci-ta    @konflux-ci/integration-service-maintainers @kdudka @sfowl
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @kdudka @sfowl
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @kdudka @sfowl
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @kdudka @sfowl
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @kdudka @sfowl
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @kdudka @sfowl
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @kdudka @sfowl
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @kdudka @sfowl
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @kdudka @sfowl

# renovate groupName=preflight
/task/ecosystem-cert-preflight-checks   @acornett21 @bcrochet @komish @skattoju

# maintained in tekton-tools, thus should be ignored by renovate
/task/provision-env-with-ephemeral-namespace    @amisstea @avi-biton @gbenhaim @omeramsc @yftacherzog
/task/generate-odcs-compose @amisstea @avi-biton @gbenhaim @yftacherzog
/task/rpms-signature-scan   @amisstea @avi-biton @gbenhaim @yftacherzog
/task/verify-signed-rpms    @amisstea @avi-biton @gbenhaim @yftacherzog

# renovate groupName=vanguard
/task/build-helm-chart          @amisstea @avi-biton @gbenhaim @yftacherzog
/task/build-helm-chart-oci-ta   @amisstea @avi-biton @gbenhaim @yftacherzog

# renovate groupName=eaas
/stepactions/eaas-copy-secrets-to-ephemeral-cluster         @konflux-ci/eaas-maintainers
/stepactions/eaas-create-ephemeral-cluster-hypershift-aws   @konflux-ci/eaas-maintainers
/stepactions/eaas-get-ephemeral-cluster-credentials         @konflux-ci/eaas-maintainers
/stepactions/eaas-get-latest-openshift-version-by-prefix    @konflux-ci/eaas-maintainers
/stepactions/eaas-get-supported-ephemeral-cluster-versions  @konflux-ci/eaas-maintainers
/task/eaas-provision-space                                  @konflux-ci/eaas-maintainers

# renovate groupName=sealights
/task/sealights-go-oci-ta          @ascerra @flacatus @psturc @Dannyb48
/task/sealights-nodejs-oci-ta      @ascerra @flacatus @psturc @Dannyb48
/task/sealights-python-oci-ta      @ascerra @flacatus @psturc @Dannyb48

# renovate groupName=build-vm-image
/task/build-vm-image    @arewm @brianwcook @ralphbean @scoheb

# renovate groupName=rpm-ostree
/task/rpm-ostree        @cgwalters
/task/rpm-ostree-oci-ta @cgwalters

# renovate groupName=opm
/task/operator-sdk-generate-bundle  @gurnben @jbpratt
/task/opm-get-bundle-version        @gurnben @jbpratt
/task/opm-render-bundles            @gurnben @jbpratt

# renovate groupName=maven
/task/build-maven-zip           @ligangty @yma96
/task/build-maven-zip-oci-ta    @ligangty @yma96

# renovate groupName=oci-copy
/task/oci-copy          @ralphbean
/task/oci-copy-oci-ta   @ralphbean

# renovate groupName=buildpack
/task/build-paketo-builder-oci-ta @cmoulliard

# renovate groupName=oci-run-script
/task/run-script-oci-ta @konflux-ci/build-maintainers @Zokormazo @arewm

# These are auto-generated and often require changes when tasks change.
# Allow anyone with write access to approve the changes.
/pipelines/*/README.md

Rename the oci-copy build type
  task/oci-copy-oci-ta/0.2/oci-copy-oci-ta.yaml
  task/oci-copy/0.2/oci-copy.yaml
Owners: @ralphbean

fix modelcar indentation
  task/modelcar-oci-ta/0.1/modelcar-oci-ta.yaml
Owners: @konflux-ci/build-maintainers

chore: add privileged-nested parameter to build pipelines
  pipelines/core-services/kustomization.yaml
  pipelines/docker-build-multi-platform-oci-ta/README.md
  pipelines/docker-build-multi-platform-oci-ta/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta/README.md
  pipelines/docker-build-oci-ta/docker-build-oci-ta.yaml
  pipelines/docker-build/README.md
  pipelines/docker-build/docker-build.yaml
  pipelines/docker-build/patch.yaml
  pipelines/fbc-builder/patch.yaml
Owners: @konflux-ci/build-maintainers

run-script-oci-ta: fix .metadata.name
  task/run-script-oci-ta/0.1/run-script-oci-ta.yaml
Owners: @konflux-ci/build-maintainers, @Zokormazo, @arewm

sast-coverity-check: always use a fresh temp directory for Coverity
  task/sast-coverity-check-oci-ta/0.2/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.2/patch.yaml
  task/sast-coverity-check/0.2/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @kdudka, @sfowl

Specify modelcar build_type is modelcar
  task/modelcar-oci-ta/0.1/modelcar-oci-ta.yaml
Owners: @konflux-ci/build-maintainers

Remove workspace from show-summary task
  pipelines/tekton-bundle-builder-oci-ta/README.md
  pipelines/tekton-bundle-builder-oci-ta/patch.yaml
  pipelines/tekton-bundle-builder-oci-ta/tekton-bundle-builder-oci-ta.yaml
Owners: @konflux-ci/build-maintainers

buildah-remote: fix the rest of ssh shell quoting
  task-generator/remote/main.go
  task/buildah-remote-oci-ta/0.1/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.2/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.3/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.4/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.1/buildah-remote.yaml
  task/buildah-remote/0.2/buildah-remote.yaml
  task/buildah-remote/0.3/buildah-remote.yaml
  task/buildah-remote/0.4/buildah-remote.yaml
Owners: @konflux-ci/build-maintainers

buildah-remote: add comment about ssh quoting
  task-generator/remote/main.go
  task/buildah-remote-oci-ta/0.1/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.2/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.3/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.4/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.1/buildah-remote.yaml
  task/buildah-remote/0.2/buildah-remote.yaml
  task/buildah-remote/0.3/buildah-remote.yaml
  task/buildah-remote/0.4/buildah-remote.yaml
Owners: @konflux-ci/build-maintainers

fix(CLOUDDST-26534): update fips task refs
  task/fbc-fips-check-oci-ta/0.1/fbc-fips-check-oci-ta.yaml
  task/fbc-fips-check/0.1/fbc-fips-check.yaml
  task/fips-operator-bundle-check-oci-ta/0.1/fips-operator-bundle-check-oci-ta.yaml
  task/fips-operator-bundle-check/0.1/fips-operator-bundle-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/operator-foundry

set cpu/memory requests for coverity-availability-check task
  task/coverity-availability-check-oci-ta/0.1/coverity-availability-check-oci-ta.yaml
  task/coverity-availability-check-oci-ta/0.2/coverity-availability-check-oci-ta.yaml
  task/coverity-availability-check/0.1/coverity-availability-check.yaml
  task/coverity-availability-check/0.2/coverity-availability-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @kdudka, @sfowl

buildah-remote: partially fix ssh shell quoting
  task-generator/remote/main.go
  task/buildah-remote-oci-ta/0.1/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.2/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.3/buildah-remote-oci-ta.yaml
  task/buildah-remote-oci-ta/0.4/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.1/buildah-remote.yaml
  task/buildah-remote/0.2/buildah-remote.yaml
  task/buildah-remote/0.3/buildah-remote.yaml
  task/buildah-remote/0.4/buildah-remote.yaml
Owners: @konflux-ci/build-maintainers

fix(KONFLUX-7507): inject image content manifests via Containerfile
  hack/build-manifests.sh
  task/buildah-min/0.4/buildah-min.yaml
  task/buildah-min/0.4/patch.yaml
  task/buildah-oci-ta/0.4/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.4/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.4/buildah-remote.yaml
  task/buildah/0.4/buildah.yaml
  task/sast-coverity-check-oci-ta/0.2/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.2/patch.yaml
  task/sast-coverity-check/0.2/sast-coverity-check.yaml
Owners: @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @kdudka, @sfowl

chore(KFLUXVNGD-212): add annotations to bundles
  pipelines/tekton-bundle-builder-oci-ta/README.md
  pipelines/tekton-bundle-builder-oci-ta/tekton-bundle-builder-oci-ta.yaml
  pipelines/tekton-bundle-builder/README.md
  pipelines/tekton-bundle-builder/patch.yaml
  pipelines/tekton-bundle-builder/tekton-bundle-builder.yaml
  task/tkn-bundle-oci-ta/0.2/MIGRATION.md
  task/tkn-bundle-oci-ta/0.2/README.md
  task/tkn-bundle-oci-ta/0.2/recipe.yaml
  task/tkn-bundle-oci-ta/0.2/tkn-bundle-oci-ta.yaml
  task/tkn-bundle/0.2/MIGRATION.md
  task/tkn-bundle/0.2/README.md
  task/tkn-bundle/0.2/tkn-bundle.yaml
Owners: @konflux-ci/build-maintainers, @konflux-ci/ec, @avi-biton, @gbenhaim, @yftacherzog

Improve log-based buildah debugging
  task/buildah-min/0.4/buildah-min.yaml
  task/buildah-oci-ta/0.4/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.4/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.4/buildah-remote.yaml
  task/buildah/0.4/buildah.yaml
  task/sast-coverity-check-oci-ta/0.2/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.2/sast-coverity-check.yaml
Owners: @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @kdudka, @sfowl

feat: git-clone: Add optional targetBranch merging
  pipelines/docker-build-multi-platform-oci-ta/README.md
  pipelines/docker-build-oci-ta/README.md
  pipelines/docker-build-rhtap/README.md
  pipelines/docker-build/README.md
  pipelines/fbc-builder/README.md
  pipelines/gitops-pull-request-rhtap/README.md
  pipelines/maven-zip-build-oci-ta/README.md
  pipelines/maven-zip-build/README.md
  pipelines/tekton-bundle-builder-oci-ta/README.md
  pipelines/tekton-bundle-builder/README.md
  task/git-clone-oci-ta/0.1/README.md
  task/git-clone-oci-ta/0.1/git-clone-oci-ta.yaml
  task/git-clone/0.1/README.md
  task/git-clone/0.1/git-clone.yaml
  task/pnc-prebuild-git-clone-oci-ta/0.1/pnc-prebuild-git-clone-oci-ta.yaml
Owners: @konflux-ci/build-maintainers, @rnc

Update `task` apiVersion to v1
  task/init/0.2/init.yaml
Owners: @konflux-ci/build-maintainers

chore: Improve generate script portability validate yq version
  hack/generate-everything.sh
Owners: @konflux-ci/build-maintainers

Set limits/resources for task init
  task/init/0.1/init.yaml
  task/init/0.2/init.yaml
Owners: @konflux-ci/build-maintainers

sast-coverity-check: bump base buildah image to fix regression
  policies/all-tasks.yaml
  policies/step-actions.yaml
  task/sast-coverity-check-oci-ta/0.2/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.2/patch.yaml
  task/sast-coverity-check/0.2/sast-coverity-check.yaml
Owners: @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @kdudka, @sfowl

fix(KONFLUX-7459): update logging and use retries for fips step action
  stepactions/fips-operator-check-step-action/0.1/fips-operator-check-step-action.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/operator-foundry

fix(KONFLUX-7549): update refs for fips tasks
  task/fbc-fips-check-oci-ta/0.1/fbc-fips-check-oci-ta.yaml
  task/fbc-fips-check/0.1/fbc-fips-check.yaml
  task/fips-operator-bundle-check-oci-ta/0.1/fips-operator-bundle-check-oci-ta.yaml
  task/fips-operator-bundle-check/0.1/fips-operator-bundle-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/operator-foundry

add image-digest to oras attach with image-url
  pipelines/core-services/core-services.yaml
  pipelines/docker-build-multi-platform-oci-ta/README.md
  pipelines/docker-build-multi-platform-oci-ta/docker-build-multi-platform-oci-ta.yaml
  pipelines/docker-build-oci-ta/README.md
  pipelines/docker-build-oci-ta/docker-build-oci-ta.yaml
  pipelines/docker-build/README.md
  pipelines/docker-build/docker-build.yaml
  pipelines/maven-zip-build-oci-ta/README.md
  pipelines/maven-zip-build-oci-ta/maven-zip-build-oci-ta.yaml
  pipelines/maven-zip-build/README.md
  pipelines/maven-zip-build/maven-zip-build.yaml
  pipelines/maven-zip-build/patch.yaml
  pipelines/template-build/template-build.yaml
  task/sast-coverity-check-oci-ta/0.3/MIGRATION.md
  task/sast-coverity-check-oci-ta/0.3/README.md
  task/sast-coverity-check-oci-ta/0.3/recipe.yaml
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.3/MIGRATION.md
  task/sast-coverity-check/0.3/README.md
  task/sast-coverity-check/0.3/kustomization.yaml
  task/sast-coverity-check/0.3/migrations/0.3.sh
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
Owners: @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @kdudka, @sfowl

Update `task` apiVersion to v1
  task/inspect-image/0.1/inspect-image.yaml
  task/inspect-image/0.2/inspect-image.yaml
Owners: @konflux-ci/integration-service-maintainers

adding image-digest on the oras attch
  pipelines/docker-build-multi-platform-oci-ta/README.md
  pipelines/docker-build-oci-ta/README.md
  pipelines/docker-build/README.md
  pipelines/maven-zip-build-oci-ta/README.md
  pipelines/maven-zip-build/README.md
  pipelines/tekton-bundle-builder-oci-ta/README.md
  pipelines/tekton-bundle-builder/README.md
  task/clamav-scan/0.2/clamav-scan.yaml
  task/sast-coverity-check-oci-ta/0.3/README.md
  task/sast-coverity-check-oci-ta/0.3/recipe.yaml
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.3/README.md
  task/sast-coverity-check/0.3/patch.yaml
  task/sast-coverity-check/0.3/sast-coverity-check.yaml
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/sast-shell-check.yaml
  task/sast-snyk-check-oci-ta/0.4/README.md
  task/sast-snyk-check-oci-ta/0.4/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.4/README.md
  task/sast-snyk-check/0.4/sast-snyk-check.yaml
  task/sast-snyk-check/0.4/tests/test-sast-snyk-check-no-token.yaml
  task/verify-enterprise-contract/0.1/verify-enterprise-contract.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/build-maintainers, @kdudka, @sfowl, @konflux-ci/ec

Set limits/resources for task inspect-image
  task/inspect-image/0.1/inspect-image.yaml
  task/inspect-image/0.2/inspect-image.yaml
Owners: @konflux-ci/integration-service-maintainers
