Repository konflux-ci/build-definitions, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/build-maintainers, @brunoapimentel, @eskultety, @taylormadore, @ralphbean, @konflux-ci/ec, @konflux-ci/integration-service-maintainers, @kdudka, @acornett21, @bcrochet, @komish, @skattoju, @amisstea, @avi-biton, @gbenhaim, @omeramsc, @yftacherzog, @hmariset, @arewm, @brianwcook, @scoheb, @cgwalters, @gurnben, @jbpratt, @ligangty, @yma96

Update .github/workflows/run-task-tests.yaml
  .github/workflows/run-task-tests.yaml
Owners: @konflux-ci/build-maintainers

Remove preflight tasks' OWNERS files
  task/ecosystem-cert-preflight-checks/OWNERS
Owners: @acornett21, @bcrochet, @komish, @skattoju

Remove rpm-related tasks' OWNERS files
  task/generate-odcs-compose/OWNERS
  task/rpms-signature-scan/OWNERS
  task/verify-signed-rpms/OWNERS
Owners: @amisstea, @avi-biton, @gbenhaim, @yftacherzog

Fix the task validate CI
  .github/workflows/run-task-tests.yaml
Owners: @konflux-ci/build-maintainers

Update .github/workflows/run-task-tests.yaml
  .github/workflows/run-task-tests.yaml
Owners: @konflux-ci/build-maintainers

fix: update maven-zip-build pipelines with recent template-build change
  pipelines/maven-zip-build-oci-ta/README.md
  pipelines/maven-zip-build-oci-ta/patch.yaml
  pipelines/maven-zip-build/README.md
  pipelines/maven-zip-build/patch.yaml
Owners: @konflux-ci/build-maintainers

Remove integration tasks' OWNERS files
  task/clair-scan/OWNERS
  task/clamav-scan/OWNERS
  task/coverity-availability-check-oci-ta/OWNERS
  task/coverity-availability-check/OWNERS
  task/deprecated-image-check/OWNERS
  task/fbc-related-image-check/OWNERS
  task/fbc-validation/OWNERS
  task/inspect-image/OWNERS
  task/sast-coverity-check-oci-ta/OWNERS
  task/sast-coverity-check/OWNERS
  task/sast-shell-check-oci-ta/OWNERS
  task/sast-shell-check/OWNERS
  task/sast-snyk-check-oci-ta/OWNERS
  task/sast-snyk-check/OWNERS
  task/sast-unicode-check-oci-ta/OWNERS
  task/sast-unicode-check/OWNERS
  task/sbom-json-check/OWNERS
  task/validate-fbc/OWNERS
Owners: @konflux-ci/integration-service-maintainers, @kdudka

template-build: fix parmeters of sast-coverity-check
  pipelines/docker-build-multi-platform-oci-ta/README.md
  pipelines/docker-build-oci-ta/README.md
  pipelines/docker-build/README.md
  pipelines/tekton-bundle-builder/README.md
  pipelines/template-build/template-build.yaml
Owners: @konflux-ci/build-maintainers

Remove build tasks' OWNERS files
  task/acs-deploy-check/OWNERS
  task/acs-image-check/OWNERS
  task/acs-image-scan/OWNERS
  task/apply-tags/OWNERS
  task/build-image-index/OWNERS
  task/build-image-manifest/OWNERS
  task/buildah-10gb/OWNERS
  task/buildah-20gb/OWNERS
  task/buildah-24gb/OWNERS
  task/buildah-6gb/OWNERS
  task/buildah-8gb/OWNERS
  task/buildah-min/OWNERS
  task/buildah-oci-ta/OWNERS
  task/buildah-remote-oci-ta/OWNERS
  task/buildah-remote/OWNERS
  task/buildah-rhtap/OWNERS
  task/buildah/OWNERS
  task/download-sbom-from-url-in-attestation/OWNERS
  task/gather-deploy-images/OWNERS
  task/generate-labels/OWNERS
  task/git-clone-oci-ta/OWNERS
  task/git-clone/OWNERS
  task/init/OWNERS
  task/prefetch-dependencies-oci-ta/OWNERS
  task/prefetch-dependencies/OWNERS
  task/push-dockerfile-oci-ta/OWNERS
  task/push-dockerfile/OWNERS
  task/show-sbom-rhdh/OWNERS
  task/show-sbom/OWNERS
  task/slack-webhook-notification/OWNERS
  task/source-build-oci-ta/OWNERS
  task/source-build/OWNERS
  task/summary/OWNERS
  task/update-deployment/OWNERS
  task/update-infra-deployments/OWNERS
  task/upload-sbom-to-trustification/OWNERS
Owners: @konflux-ci/build-maintainers, @ralphbean, @brunoapimentel, @eskultety, @taylormadore

create bundle repos automatically if missing
  .tekton/pull-request.yaml
  .tekton/push.yaml
  .tekton/scripts/check-task-pipeline-bundle-repos.sh
  .tekton/scripts/create-task-pipeline-bundle-repos.sh
Owners: @konflux-ci/build-maintainers

renovate: upgrade appstudio-utils only once a week
  renovate.json
Owners: @konflux-ci/build-maintainers

Remove ec-owned tasks' OWNERS files
  task/tkn-bundle-oci-ta/OWNERS
  task/tkn-bundle/OWNERS
  task/verify-enterprise-contract/OWNERS
Owners: @konflux-ci/ec

renovate: move scheduled updates to Sunday
  renovate.json
Owners: @konflux-ci/build-maintainers

renovate: group .github/workflows/* together
  renovate.json
Owners: @konflux-ci/build-maintainers

renovate: remove the 'shared' group
  renovate.json
Owners: @konflux-ci/build-maintainers

snyk-sast: added stats for Snyk scans
  task/sast-snyk-check-oci-ta/0.3/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.3/MIGRATION.md
  task/sast-snyk-check/0.3/sast-snyk-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @kdudka

fix(KONFLUX-6026): remove duplicate @sha256 from inspection
  task/validate-fbc/0.1/validate-fbc.yaml
Owners: @konflux-ci/integration-service-maintainers

Fix indentation in hack/build-and-push.sh
  hack/build-and-push.sh
Owners: @konflux-ci/build-maintainers

Change build-and-push working directory globally
  hack/build-and-push.sh
Owners: @konflux-ci/build-maintainers

improve completeness of FBC validation migration
  task/fbc-validation/0.2/MIGRATION.md
Owners: @konflux-ci/integration-service-maintainers

fix(KONFLUX-6028): Stop fetching tags with skopeo inspect
  task/apply-tags/0.1/apply-tags.yaml
  task/init/0.2/init.yaml
Owners: @konflux-ci/build-maintainers

Improve generation of base images SBOMs
  task/build-image-index/0.1/build-image-index.yaml
  task/buildah-oci-ta/0.2/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.2/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.2/buildah-remote.yaml
  task/buildah/0.2/buildah.yaml
Owners: @konflux-ci/build-maintainers

Fix renovate.json groupings
  renovate.json
Owners: @konflux-ci/build-maintainers

Set SBOM name for rpm-ostree generated images to `registry/repository@digest`of the pushed image.
  task/rpm-ostree-oci-ta/0.2/rpm-ostree-oci-ta.yaml
Owners: @cgwalters

feat(STONEINTG-946): migrate redhat-appstudio/konflux-test
  renovate.json
  task-generator/trusted-artifacts/golden/sast-snyk-check/base.yaml
  task-generator/trusted-artifacts/golden/sast-snyk-check/ta.yaml
  task/clair-scan/0.1/clair-scan.yaml
  task/clair-scan/0.2/clair-scan.yaml
  task/clamav-scan/0.1/clamav-scan.yaml
  task/coverity-availability-check-oci-ta/0.1/coverity-availability-check-oci-ta.yaml
  task/coverity-availability-check/0.1/coverity-availability-check.yaml
  task/deprecated-image-check/0.1/deprecated-image-check.yaml
  task/deprecated-image-check/0.2/deprecated-image-check.yaml
  task/deprecated-image-check/0.3/deprecated-image-check.yaml
  task/deprecated-image-check/0.4/deprecated-image-check.yaml
  task/fbc-related-image-check/0.1/fbc-related-image-check.yaml
  task/fbc-validation/0.1/fbc-validation.yaml
  task/inspect-image/0.1/inspect-image.yaml
  task/rpms-signature-scan/0.1/rpms-signature-scan.yaml
  task/rpms-signature-scan/0.2/rpms-signature-scan.yaml
  task/sast-shell-check-oci-ta/0.1/sast-shell-check-oci-ta.yaml
  task/sast-shell-check/0.1/sast-shell-check.yaml
  task/sast-snyk-check-oci-ta/0.1/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check-oci-ta/0.2/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check-oci-ta/0.3/sast-snyk-check-oci-ta.yaml
  task/sast-snyk-check/0.1/sast-snyk-check.yaml
  task/sast-snyk-check/0.2/sast-snyk-check.yaml
  task/sast-snyk-check/0.3/sast-snyk-check.yaml
  task/sast-unicode-check-oci-ta/0.1/sast-unicode-check-oci-ta.yaml
  task/sast-unicode-check/0.1/sast-unicode-check.yaml
  task/sbom-json-check/0.1/sbom-json-check.yaml
  task/sbom-json-check/0.2/sbom-json-check.yaml
  task/tkn-bundle-oci-ta/0.1/tkn-bundle-oci-ta.yaml
  task/tkn-bundle/0.1/tkn-bundle.yaml
  task/validate-fbc/0.1/validate-fbc.yaml
  task/verify-signed-rpms/0.1/verify-signed-rpms.yaml
Owners: @konflux-ci/build-maintainers, @konflux-ci/integration-service-maintainers, @kdudka, @amisstea, @avi-biton, @gbenhaim, @yftacherzog, @konflux-ci/ec

Set SBOM name for rpm-ostree generated images to `registry/repository@digest`of the pushed image.
  task/rpm-ostree/0.2/rpm-ostree.yaml
Owners: @cgwalters

Set SBOM name for rpm-ostree generated images to `registry/repository@digest`of the pushed image.
  task/rpm-ostree/0.2/rpm-ostree.yaml
Owners: @cgwalters

feat: enable multi-arch fbc verification
  pipelines/fbc-builder/README.md
  task/validate-fbc/0.1/README.md
  task/validate-fbc/0.1/validate-fbc.yaml
Owners: @konflux-ci/integration-service-maintainers

task/opm-render-bundles: add v to entry name
  task/opm-render-bundles/0.1/opm-render-bundles.yaml
Owners: @gurnben, @jbpratt

sast-coverity-check: added stats for Coverity scans
  task/sast-coverity-check-oci-ta/0.1/sast-coverity-check-oci-ta.yaml
  task/sast-coverity-check/0.1/README.md
  task/sast-coverity-check/0.1/sast-coverity-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @kdudka

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/build-maintainers

/task/acs-deploy-check                      @konflux-ci/build-maintainers
/task/acs-image-check                       @konflux-ci/build-maintainers
/task/acs-image-scan                        @konflux-ci/build-maintainers
/task/apply-tags                            @konflux-ci/build-maintainers
/task/build-image-index                     @konflux-ci/build-maintainers
/task/build-image-manifest                  @konflux-ci/build-maintainers
/task/buildah                               @konflux-ci/build-maintainers
/task/buildah-10gb                          @konflux-ci/build-maintainers
/task/buildah-20gb                          @konflux-ci/build-maintainers
/task/buildah-24gb                          @konflux-ci/build-maintainers
/task/buildah-6gb                           @konflux-ci/build-maintainers
/task/buildah-8gb                           @konflux-ci/build-maintainers
/task/buildah-min                           @konflux-ci/build-maintainers
/task/buildah-oci-ta                        @konflux-ci/build-maintainers
/task/buildah-remote                        @konflux-ci/build-maintainers
/task/buildah-remote-oci-ta                 @konflux-ci/build-maintainers
/task/buildah-rhtap                         @konflux-ci/build-maintainers
/task/download-sbom-from-url-in-attestation @konflux-ci/build-maintainers
/task/gather-deploy-images                  @konflux-ci/build-maintainers
/task/git-clone                             @konflux-ci/build-maintainers
/task/git-clone-oci-ta                      @konflux-ci/build-maintainers
/task/init                                  @konflux-ci/build-maintainers
/task/push-dockerfile                       @konflux-ci/build-maintainers
/task/push-dockerfile-oci-ta                @konflux-ci/build-maintainers
/task/show-sbom                             @konflux-ci/build-maintainers
/task/show-sbom-rhdh                        @konflux-ci/build-maintainers
/task/slack-webhook-notification            @konflux-ci/build-maintainers
/task/source-build                          @konflux-ci/build-maintainers
/task/source-build-oci-ta                   @konflux-ci/build-maintainers
/task/summary                               @konflux-ci/build-maintainers
/task/update-deployment                     @konflux-ci/build-maintainers
/task/update-infra-deployments              @konflux-ci/build-maintainers
/task/upload-sbom-to-trustification         @konflux-ci/build-maintainers

/task/prefetch-dependencies         @konflux-ci/build-maintainers @brunoapimentel @eskultety @taylormadore
/task/prefetch-dependencies-oci-ta  @konflux-ci/build-maintainers @brunoapimentel @eskultety @taylormadore

/task/generate-labels   @konflux-ci/build-maintainers @ralphbean

/task/tkn-bundle                    @konflux-ci/ec
/task/tkn-bundle-oci-ta             @konflux-ci/ec
/task/verify-enterprise-contract    @konflux-ci/ec

/task/clair-scan                @konflux-ci/integration-service-maintainers
/task/clamav-scan               @konflux-ci/integration-service-maintainers
/task/deprecated-image-check    @konflux-ci/integration-service-maintainers
/task/fbc-related-image-check   @konflux-ci/integration-service-maintainers
/task/fbc-validation            @konflux-ci/integration-service-maintainers
/task/inspect-image             @konflux-ci/integration-service-maintainers
/task/sbom-json-check           @konflux-ci/integration-service-maintainers
/task/validate-fbc              @konflux-ci/integration-service-maintainers

/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @kdudka
/task/coverity-availability-check-oci-ta    @konflux-ci/integration-service-maintainers @kdudka
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @kdudka
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @kdudka
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @kdudka
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @kdudka
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @kdudka
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @kdudka
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @kdudka
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @kdudka

/task/ecosystem-cert-preflight-checks   @acornett21 @bcrochet @komish @skattoju

/task/provision-env-with-ephemeral-namespace    @amisstea @avi-biton @gbenhaim @omeramsc @yftacherzog

/task/generate-odcs-compose @amisstea @avi-biton @gbenhaim @yftacherzog
/task/rpms-signature-scan   @amisstea @avi-biton @gbenhaim @yftacherzog
/task/verify-signed-rpms    @amisstea @avi-biton @gbenhaim @yftacherzog

/stepactions/eaas-copy-secrets-to-ephemeral-cluster         @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-create-ephemeral-cluster-hypershift-aws   @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-get-ephemeral-cluster-credentials         @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-get-latest-openshift-version-by-prefix    @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/stepactions/eaas-get-supported-ephemeral-cluster-versions  @amisstea @avi-biton @hmariset @omeramsc @yftacherzog
/task/eaas-provision-space                                  @amisstea @avi-biton @hmariset @omeramsc @yftacherzog

/task/build-vm-image    @arewm @brianwcook @ralphbean @scoheb

/task/rpm-ostree        @cgwalters
/task/rpm-ostree-oci-ta @cgwalters

/task/operator-sdk-generate-bundle  @gurnben @jbpratt
/task/opm-get-bundle-version        @gurnben @jbpratt
/task/opm-render-bundles            @gurnben @jbpratt

/task/build-maven-zip           @ligangty @yma96
/task/build-maven-zip-oci-ta    @ligangty @yma96

/task/oci-copy          @ralphbean
/task/oci-copy-oci-ta   @ralphbean

# These are auto-generated and often require changes when tasks change.
# Allow anyone with write access to approve the changes.
/pipelines/*/README.md
