Repository konflux-ci/build-definitions, changes with the owners that CODEOWNERS names for each.
All owners: @konflux-ci/build-maintainers, @Allda, @jedinym, @rnc, @a-ovchinnikov, @brunoapimentel, @eskultety, @taylormadore, @ralphbean, @konflux-ci/ec, @amisstea, @avi-biton, @gbenhaim, @yftacherzog, @konflux-ci/integration-service-maintainers, @konflux-ci/operator-foundry, @sfowl, @acornett21, @bcrochet, @komish, @skattoju, @caxu-rh, @konflux-ci/eaas-maintainers, @ascerra, @flacatus, @psturc, @Dannyb48, @arewm, @brianwcook, @scoheb, @gurnben, @jbpratt, @ligangty, @yma96, @Victoremepunto, @cmoulliard, @Zokormazo

run ./hack/generate-pipelines-readme.py
  pipelines/tekton-bundle-builder-oci-ta/README.md
Owners: none

Stop generating buildah-remote 0.4
  hack/generate-buildah-remote.sh
Owners: @konflux-ci/build-maintainers

Rename cachi2.env file to more generic prefetch.env
  archived-tasks/buildah-min/0.4/buildah-min.yaml
  archived-tasks/buildah-oci-ta/0.4/buildah-oci-ta.yaml
  archived-tasks/buildah-remote-oci-ta/0.4/buildah-remote-oci-ta.yaml
  archived-tasks/buildah-remote/0.4/buildah-remote.yaml
  archived-tasks/buildah/0.4/buildah.yaml
  archived-tasks/sast-coverity-check-oci-ta/0.2/sast-coverity-check-oci-ta.yaml
  archived-tasks/sast-coverity-check/0.2/sast-coverity-check.yaml
  task-generator/trusted-artifacts/golden/buildah/base.yaml
  task-generator/trusted-artifacts/golden/buildah/ta.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
  task/buildah-min/0.5/buildah-min.yaml
  task/buildah-oci-ta/0.5/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.5/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.5/buildah-remote.yaml
  task/buildah/0.5/buildah.yaml
  task/prefetch-dependencies-oci-ta/0.2/prefetch-dependencies-oci-ta.yaml
  task/prefetch-dependencies/0.2/prefetch-dependencies.yaml
  task/run-script-oci-ta/0.1/run-script-oci-ta.yaml
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym, @a-ovchinnikov, @brunoapimentel, @eskultety, @taylormadore, @Zokormazo, @arewm, @konflux-ci/integration-service-maintainers, @sfowl

Keep cachi2.env for backward compatibility in the prefetch task
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
  task/prefetch-dependencies-oci-ta/0.2/prefetch-dependencies-oci-ta.yaml
  task/prefetch-dependencies/0.2/prefetch-dependencies.yaml
Owners: @konflux-ci/build-maintainers, @a-ovchinnikov, @brunoapimentel, @eskultety, @taylormadore

Rename cachi2.repo file to more generic prefetch.repo
  archived-tasks/buildah-min/0.4/buildah-min.yaml
  archived-tasks/buildah-oci-ta/0.4/buildah-oci-ta.yaml
  archived-tasks/buildah-remote-oci-ta/0.4/buildah-remote-oci-ta.yaml
  archived-tasks/buildah-remote/0.4/buildah-remote.yaml
  archived-tasks/buildah/0.4/buildah.yaml
  archived-tasks/sast-coverity-check-oci-ta/0.2/sast-coverity-check-oci-ta.yaml
  archived-tasks/sast-coverity-check/0.2/sast-coverity-check.yaml
  task-generator/trusted-artifacts/golden/buildah/base.yaml
  task-generator/trusted-artifacts/golden/buildah/ta.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
  task/buildah-min/0.5/buildah-min.yaml
  task/buildah-oci-ta/0.5/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.5/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.5/buildah-remote.yaml
  task/buildah/0.5/buildah.yaml
  task/prefetch-dependencies-oci-ta/0.2/prefetch-dependencies-oci-ta.yaml
  task/prefetch-dependencies/0.2/prefetch-dependencies.yaml
  task/sast-coverity-check-oci-ta/0.3/sast-coverity-check-oci-ta.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym, @a-ovchinnikov, @brunoapimentel, @eskultety, @taylormadore, @konflux-ci/integration-service-maintainers, @sfowl

Keep cachi2.repo for backward compatibility in the prefetch task
  task-generator/trusted-artifacts/golden/prefetch-dependencies/base.yaml
  task-generator/trusted-artifacts/golden/prefetch-dependencies/ta.yaml
  task/prefetch-dependencies-oci-ta/0.2/prefetch-dependencies-oci-ta.yaml
  task/prefetch-dependencies/0.2/prefetch-dependencies.yaml
Owners: @konflux-ci/build-maintainers, @a-ovchinnikov, @brunoapimentel, @eskultety, @taylormadore

Remove show-summary from default pipelines
  pipelines/core-services/core-services.yaml
  pipelines/docker-build-oci-ta/patch.yaml
  pipelines/docker-build-rhtap/patch.yaml
  pipelines/docker-build/README.md
  pipelines/docker-build/docker-build.yaml
  pipelines/maven-zip-build-oci-ta/patch.yaml
  pipelines/maven-zip-build/README.md
  pipelines/maven-zip-build/maven-zip-build.yaml
  pipelines/maven-zip-build/patch.yaml
  pipelines/tekton-bundle-builder-oci-ta/README.md
  pipelines/tekton-bundle-builder-oci-ta/patch.yaml
  pipelines/tekton-bundle-builder-oci-ta/tekton-bundle-builder-oci-ta.yaml
  pipelines/tekton-bundle-builder/README.md
  pipelines/tekton-bundle-builder/patch.yaml
  pipelines/tekton-bundle-builder/tekton-bundle-builder.yaml
  pipelines/template-build/template-build.yaml
Owners: @konflux-ci/build-maintainers, @konflux-ci/ec, @amisstea, @avi-biton, @gbenhaim, @yftacherzog

fix buildah build ignorefile precendence
  task/buildah/0.5/buildah.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym

run ./hack/generate-everything.sh
  task/buildah-min/0.5/buildah-min.yaml
  task/buildah-oci-ta/0.5/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.5/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.5/buildah-remote.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym

fix buildah build ignorefile precendence
  task/buildah/0.5/buildah.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym

run ./hack/generate-everything.sh
  task/buildah-min/0.5/buildah-min.yaml
  task/buildah-oci-ta/0.5/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.5/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.5/buildah-remote.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym

Add content-sets.json to .containerignore
  task/buildah-min/0.5/buildah-min.yaml
  task/buildah-oci-ta/0.5/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.5/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.5/buildah-remote.yaml
  task/buildah/0.5/buildah.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym

fix(KONFLUX-8857): pre-ga improvements for fbc-fips-check
  task/fbc-fips-check-oci-ta/0.1/fbc-fips-check-oci-ta.yaml
  task/fbc-fips-check/0.1/fbc-fips-check.yaml
Owners: @konflux-ci/integration-service-maintainers, @konflux-ci/operator-foundry

Drop traps
  task/tkn-bundle-oci-ta/0.2/tkn-bundle-oci-ta.yaml
  task/tkn-bundle/0.2/tkn-bundle.yaml
Owners: @konflux-ci/ec, @amisstea, @avi-biton, @gbenhaim, @yftacherzog

buildah: Ensure image pull policy is ifNotPresent
  task/buildah-min/0.5/buildah-min.yaml
  task/buildah-oci-ta/0.5/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.5/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.5/buildah-remote.yaml
  task/buildah/0.5/buildah.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym

buildah: Ensure image pull policy is ifNotPresent
  task/buildah-min/0.5/buildah-min.yaml
  task/buildah-oci-ta/0.5/buildah-oci-ta.yaml
  task/buildah-remote-oci-ta/0.5/buildah-remote-oci-ta.yaml
  task/buildah-remote/0.5/buildah-remote.yaml
  task/buildah/0.5/buildah.yaml
Owners: @konflux-ci/build-maintainers, @Allda, @jedinym

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @konflux-ci/build-maintainers

# renovate groupName=build
/task/acs-deploy-check                      @konflux-ci/build-maintainers
/task/acs-image-check                       @konflux-ci/build-maintainers
/task/acs-image-scan                        @konflux-ci/build-maintainers
/task/apply-tags                            @konflux-ci/build-maintainers
/task/build-image-index                     @konflux-ci/build-maintainers @Allda @jedinym
/task/build-image-manifest                  @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah                               @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-min                           @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-oci-ta                        @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-remote                        @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-remote-oci-ta                 @konflux-ci/build-maintainers @Allda @jedinym
/task/buildah-rhtap                         @konflux-ci/build-maintainers @Allda @jedinym
/task/download-sbom-from-url-in-attestation @konflux-ci/build-maintainers @Allda @jedinym
/task/gather-deploy-images                  @konflux-ci/build-maintainers
/task/git-clone                             @konflux-ci/build-maintainers
/task/git-clone-oci-ta                      @konflux-ci/build-maintainers
/task/init                                  @konflux-ci/build-maintainers
/task/pnc-prebuild-git-clone-oci-ta         @konflux-ci/build-maintainers @rnc
/task/push-dockerfile                       @konflux-ci/build-maintainers
/task/push-dockerfile-oci-ta                @konflux-ci/build-maintainers
/task/show-sbom                             @konflux-ci/build-maintainers @Allda @jedinym
/task/show-sbom-rhdh                        @konflux-ci/build-maintainers @Allda @jedinym
/task/slack-webhook-notification            @konflux-ci/build-maintainers
/task/slack-webhook-notification-oci-ta     @konflux-ci/build-maintainers
/task/source-build                          @konflux-ci/build-maintainers @Allda @jedinym
/task/source-build-oci-ta                   @konflux-ci/build-maintainers @Allda @jedinym
/task/summary                               @konflux-ci/build-maintainers
/task/update-deployment                     @konflux-ci/build-maintainers
/task/update-infra-deployments              @konflux-ci/build-maintainers
/task/upload-sbom-to-trustification         @konflux-ci/build-maintainers @Allda @jedinym

# renovate groupName=build-prefetch
/task/prefetch-dependencies         @konflux-ci/build-maintainers @a-ovchinnikov @brunoapimentel @eskultety @taylormadore
/task/prefetch-dependencies-oci-ta  @konflux-ci/build-maintainers @a-ovchinnikov @brunoapimentel @eskultety @taylormadore

# renovate groupName=build
/task/generate-labels   @konflux-ci/build-maintainers @ralphbean

# renovate groupName=ec
/task/tkn-bundle                    @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog
/task/tkn-bundle-oci-ta             @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog
/task/verify-enterprise-contract    @konflux-ci/ec
/pipelines/enterprise-contract.yaml @konflux-ci/ec
/.tekton/tasks/ec-checks.yaml       @konflux-ci/ec

# renovate groupName=integration
/external-task/clair-scan                       @konflux-ci/integration-service-maintainers
/external-task/clamav-scan                      @konflux-ci/integration-service-maintainers
/external-task/deprecated-image-check           @konflux-ci/integration-service-maintainers
/task/clair-scan                                @konflux-ci/integration-service-maintainers
/task/clamav-scan                               @konflux-ci/integration-service-maintainers
/task/deprecated-image-check                    @konflux-ci/integration-service-maintainers
/task/fbc-fips-check                            @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-fips-check-oci-ta                     @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fbc-target-index-pruning-check            @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/run-opm-command-oci-ta                    @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/sbom-json-check                           @konflux-ci/integration-service-maintainers @Allda @jedinym
/task/validate-fbc                              @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fips-operator-bundle-check                @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/task/fips-operator-bundle-check-oci-ta         @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry
/stepactions/fips-operator-check-step-action    @konflux-ci/integration-service-maintainers @konflux-ci/operator-foundry

# renovate groupName=integration
/task/coverity-availability-check           @konflux-ci/integration-service-maintainers @sfowl
/task/sast-coverity-check                   @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-coverity-check-oci-ta            @konflux-ci/integration-service-maintainers @konflux-ci/build-maintainers @sfowl
/task/sast-shell-check                      @konflux-ci/integration-service-maintainers @sfowl
/task/sast-shell-check-oci-ta               @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check                       @konflux-ci/integration-service-maintainers @sfowl
/task/sast-snyk-check-oci-ta                @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check                    @konflux-ci/integration-service-maintainers @sfowl
/task/sast-unicode-check-oci-ta             @konflux-ci/integration-service-maintainers @sfowl

# renovate groupName=preflight
/task/ecosystem-cert-preflight-checks   @acornett21 @bcrochet @komish @skattoju @caxu-rh

# maintained in tekton-tools, thus should be ignored by renovate
/task/rpms-signature-scan   @amisstea @avi-biton @gbenhaim @yftacherzog
/task/verify-signed-rpms    @amisstea @avi-biton @gbenhaim @yftacherzog

# renovate groupName=vanguard
/external-task/rpms-signature-scan          @amisstea @avi-biton @gbenhaim @yftacherzog
/task/build-helm-chart                      @amisstea @avi-biton @gbenhaim @yftacherzog
/task/build-helm-chart-oci-ta               @amisstea @avi-biton @gbenhaim @yftacherzog
/pipelines/tekton-bundle-builder            @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog
/pipelines/tekton-bundle-builder-oci-ta     @konflux-ci/ec @amisstea @avi-biton @gbenhaim @yftacherzog

# renovate groupName=eaas
/stepactions/eaas-copy-secrets-to-ephemeral-cluster         @konflux-ci/eaas-maintainers
/stepactions/eaas-create-ephemeral-cluster-hypershift-aws   @konflux-ci/eaas-maintainers
/stepactions/eaas-get-ephemeral-cluster-credentials         @konflux-ci/eaas-maintainers
/stepactions/eaas-get-latest-openshift-version-by-prefix    @konflux-ci/eaas-maintainers
/stepactions/eaas-get-supported-ephemeral-cluster-versions  @konflux-ci/eaas-maintainers
/task/eaas-provision-space                                  @konflux-ci/eaas-maintainers

# renovate groupName=sealights
/task/sealights-go-oci-ta          @ascerra @flacatus @psturc @Dannyb48
/task/sealights-nodejs-oci-ta      @ascerra @flacatus @psturc @Dannyb48
/task/sealights-python-oci-ta      @ascerra @flacatus @psturc @Dannyb48

# renovate groupName=build-vm-image
/task/build-vm-image    @arewm @brianwcook @ralphbean @scoheb

# renovate groupName=opm
/task/operator-sdk-generate-bundle  @gurnben @jbpratt
/task/opm-get-bundle-version        @gurnben @jbpratt
/task/opm-render-bundles            @gurnben @jbpratt

# renovate groupName=maven
/task/build-maven-zip           @ligangty @yma96 @Allda @jedinym
/task/build-maven-zip-oci-ta    @ligangty @yma96 @Allda @jedinym

# renovate groupName=oci-copy
/task/oci-copy          @ralphbean @Allda @jedinym
/task/oci-copy-oci-ta   @ralphbean @Allda @jedinym

# renovate groupName=modelcar-oci
/task/modelcar-oci-ta   @Victoremepunto @ralphbean @Allda @jedinym

# renovate groupName=buildpack
/task/build-paketo-builder-oci-ta @cmoulliard @Allda @jedinym

# renovate groupName=oci-run-script
/task/run-script-oci-ta @konflux-ci/build-maintainers @Zokormazo @arewm

# These are auto-generated and often require changes when tasks change.
# Allow anyone with write access to approve the changes.
/pipelines/*/README.md
